# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.venv/
venv/
dist/
build/

# Entorno y Secrets
.env
.env.*
*.pem
*.key

# Tooling Interno SRE (Repo Mapping)
local_codegraph.json
*_part_*.txt
targeted_context.md
